In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data\weatherAUS.csv')

In [3]:
pd.set_option('display.max_columns', 23)

In [4]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,17.0,17.0,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [5]:
df['MaxTemp'].mean() #Average Maximum Temperature

23.22134827564685

In [6]:
df['MinTemp'].mean() #Average Minimum Temperature

12.19403438096892

In [7]:
 filt = (df['Location'] == 'Cobar')

In [8]:
df.loc[filt]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,SW,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,SSE,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
6051,2009-01-03,Cobar,15.5,34.1,0.0,12.6,13.3,SE,30.0,NaN,N,NaN,7.0,NaN,7.0,NaN,1011.6,NaN,1.0,NaN,32.7,No,No
6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,NNW,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,WSW,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9053,2017-06-21,Cobar,5.8,19.1,0.0,NaN,NaN,SE,24.0,SE,S,7.0,9.0,71.0,34.0,1027.6,1025.3,NaN,NaN,11.2,19.1,No,No
9054,2017-06-22,Cobar,2.8,19.2,0.0,NaN,NaN,NE,20.0,E,SSE,13.0,6.0,72.0,29.0,1027.2,1024.1,NaN,2.0,9.6,18.8,No,No
9055,2017-06-23,Cobar,6.9,20.0,0.0,NaN,NaN,W,33.0,N,W,9.0,15.0,59.0,29.0,1022.2,1019.0,6.0,8.0,11.1,18.6,No,No
9056,2017-06-24,Cobar,8.3,16.2,0.0,NaN,NaN,WSW,20.0,W,SSW,7.0,9.0,47.0,49.0,1020.2,1018.5,NaN,7.0,14.2,14.5,No,No
9057,2017-06-25,Cobar,9.1,22.0,0.0,NaN,NaN,W,28.0,NE,WNW,15.0,13.0,62.0,33.0,1020.2,1017.4,1.0,3.0,13.0,20.8,No,No

In [9]:
df.loc[filt]['MaxTemp'].mean() #Average Maximum Temperature in the Location Cobar

25.870093147039256

In [10]:
145460 - df['Sunshine'].count() #count of null value in the column → Sunshine

69835

In [11]:
145460 - df['Evaporation'].count() #count of null value in the column →  Evaporation

62790